body{
    margin: 0;
    padding-top: 80px; /*fixed eleements are not taking space in html flow*/
}

.container{
    width: 1180px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}


ul{
    margin: 0;
    padding: 0;
}

div.about-us {
    display: flex;
    flex-direction: row;
}

div.about-us h1 {
    text-align: center;
}

div.about-us p {
    margin: 10px;
    padding: 0;
    font-size: 15;
    font-weight: 300;
    line-height: 24px;
}

div.about-us img {
    width: 50%;
    max-width: 600px;
    height: 50%;
    max-height: 600px;
    margin: auto 0;
}

div.our-team h1{
    text-align: center;
}

hr{
    border: none;
    border-top: 5px solid rgb(15, 15, 15);
    width: 100px;
}

div.team-member{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
}

div.image img{
    padding: 15px;
    height: 300px;
    
}

div.member-info h3{
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}

div.member-info p{
    display: block;
    margin: 15px;
    max-height: 200px;
    overflow-y: scroll;
    font-size: 20px;
    line-height: 25px;
}

div.contact-us{
    margin-bottom: 50px;
}

div.contact-us h1{
    text-align: center;
}

div.contact-content {
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px;
    background-color: cadetblue;
}

div.contact-content .message p{
    text-align: center;
    font-size: 25px;
}

div.contact-content .message img{
    width: 40px;
    margin: 0 10px;
    vertical-align: bottom;
}

div.contact-content .email-box {
    display: flex;
    flex-direction: row;

}

.email-form{
    width: 50%;
    margin: 20px;
}

.email-form input{
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(82, 124, 126);
    font-size: 20px;
}

.email-form textarea {
    border-radius: 15px;
    padding: 10px;
    border: 2px solid rgb(82, 124, 126);
    font-size: 20px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
}

.email-form button{
    position: relative;
    display: block;
    height: 50px;
    width: 70%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
}


.email-form button:hover{
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
}

.email-form img{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
}

.email-info{
    width: 50%;
    margin: 20px;
}

.email-info ul{
    list-style: none;
    text-align: center;
}

.email-info img{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

.email-info ul li{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.email-info ul li:last-of-type{
    margin-bottom: 0;
}














