body{
    margin: 0;
    padding-top: 80px; /*fixed eleements are not taking space in html flow*/
}

.container{
    width: 1180px;
    max-width: 90%;
    margin: auto;
    padding: 0 16px;
}


ul{
    margin: 0;
    padding: 0;
}

div.about-us {
    display: flex;
    flex-direction: row;
}

div.about-us h1 {
    text-align: center;
}

div.about-us p {
    margin: 10px;
    padding: 0;
    font-size: 15;
    font-weight: 300;
    line-height: 24px;
}

div.about-us img {
    width: 50%;
    max-width: 600px;
    height: 50%;
    max-height: 600px;
    margin: auto 0;
}

div.our-team h1{
    text-align: center;
}

hr{
    border: none;
    border-top: 5px solid rgb(15, 15, 15);
    width: 100px;
}

div.team-member{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    margin: 15px;
}

div.image img{
    padding: 15px;
    height: 300px;
    
}

div.member-info h3{
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}

div.member-info p{
    display: block;
    margin: 15px;
    max-height: 200px;
    overflow-y: scroll;
}



























